@model IEnumerable<LeagueManager.Application.Interfaces.Dto.IMatchEventDto>
@using LeagueManager.Application.Interfaces.Dto; 

@foreach (var matchEvent in Model)
{
    <div id="match-event-@matchEvent.Guid">
        @if (matchEvent is IGoalDto)
        {
            @await Html.PartialAsync("ViewGoalMatchEvent", matchEvent);
        }
    </div>
}