@model List<LeagueManager.Application.Interfaces.Dto.ITeamMatchEntryWithDetailsDto>
@using LeagueManager.Application.Interfaces.Dto; 

<div class="row">
    @foreach (var entry in Model)
    {
        <div class="col-6">
            <div>
                <button type="button" class="btn btn-default fa fa-futbol add-goal" data-toggle="modal" data-target="#goalModal" data-match-guid="@entry.TeamLeagueMatchGuid" data-team-name="@entry.Team.Name" title="Add scored goal"></button>
                <button type="button" class="btn btn-default fa fa-random add-sub" data-toggle="modal" data-target="#subModal" data-match-guid="@entry.TeamLeagueMatchGuid" data-team-name="@entry.Team.Name" title="Add substitution"></button>
            </div>
            <div id="match-events-@entry.Team.Name.Replace(" ", "-")" class="py-5">
                @if (entry.Events().Count == 0)
                {
                    <div>No match events</div>
                }
                else
                {
                    @await Html.PartialAsync("ViewTeamMatchEvents", entry.Events())
                }
            </div>
        </div>
    }
</div>