@model LeagueManager.WebUI.ViewModels.ViewTeamLeagueViewModel

@foreach (var round in Model.Rounds)
{
    if (round.Name == Model.SelectedRound)
    {
        <div>
            <h3>@round.Name</h3>
        </div>

        <div class="match-full-width">
            <ul class="match-overview-list">
                @foreach (var match in round.Matches)
                {
                    <li class="match-overview-item match-striped-list-item">
                        <div class="match" id="match-@match.Guid">
                            @await Html.PartialAsync("ViewMatch", match)
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
}