@model List<LeagueManager.Application.Interfaces.Dto.ITeamMatchEntryWithDetailsDto>

<div class="row">
    @foreach (var entry in Model)
    {
        <div class="col-6">
            <div class="py-5">
                @foreach (var lineupEntry in entry.Lineup)
                {
                <div id="lineup-entry-@lineupEntry.Guid">
                    @await Html.PartialAsync("ViewMatchLineupEntry", lineupEntry)
                </div>
                }
            </div>
        </div>
    }
</div>