<div class="modal fade" id="subModal" tabindex="-1" role="dialog" aria-labelledby="subModalTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subModalTitle">Add Substitution</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" />
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="sub-minute" class="col-form-label">Minute :</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <input type="text" class="form-control" id="sub-minute">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="playerOut" class="col-form-label">Player Out:</label>
                    <select id="playerOut" class="form-control js-select-player"></select>
                </div>
                <div class="form-group">
                    <label for="playerIn" class="col-form-label">Player In:</label>
                    <select id="playerIn" class="form-control js-select-player"></select>
                </div>
            </div>
            <div class="modal-footer" id="sub-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary js-save-sub">Save changes</button>
            </div>
        </div>
    </div>
</div>